<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-04-28T21:31:59Z</date>
	<key>WorkspacePath</key>
	<string>/Users/timarterbury/Documents/School/Junior Year 2/Graphics/3DAudioVisualizers/Builds/MacOSX/3DAudioVisualizers.xcodeproj</string>
</dict>
</plist>
